* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  position: absolute;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: auto;
  margin-top: 70px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app img {
  width: 35px;
  height: 35px;
}

.inprow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#input-box {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}
#addBtn {
  border: none;
  outline: none;
  padding: 16px 30px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.ul-list {
  display: flex;
flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.ul-list > div {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
