@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

 
.main{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container{
    width: 30rem;
    height: 15rem;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    padding-top: 80px;
    text-align: center;
}
button{
    font-size: 25px;
    width: 100%;
    display: block;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;

}