.container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 20%;
  height: auto;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
}

input {
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.row {

  height: 60px;
  display:flex;
  justify-content: center;
 
}
.row button {
  height: 50px;
  width: 50px;
  margin: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
#org{
    background-color: rgba(255, 68, 0, 0.811);
    color: white;
}
